<html ng-app="demoApp">
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="../src/ng-cleantoast.js"></script>
  <script src="script.js"></script>
</head>
<body ng-controller="demoController">
  <button ng-click="newToast()">Title</button><br>
  <button ng-click="newNoTitleToast()">No Title</button><br>
  <button ng-click="newStickyToast()">Sticky</button>
  <ct-toasts></ct-toasts>
</body>
</html>